$fontSemiBold: "RalewaySemiBold", "Arial", "Verdana", sans-serif;
$fontBold: "RalewayBold", "Arial", "Verdana", sans-serif;
$fontRegular: "RalewayRegular", "Arial", "Verdana", sans-serif;
$fontMedium: "RalewayMedium", "Arial", "Verdana", sans-serif;
$fontLight: "RalewayLight", "Arial", "Verdana", sans-serif;
$fontExtraLight: "RalewayExtraLight", "Arial", "Verdana", sans-serif;
$fontSegoeRegular: "SegoeUIRegular", "Arial", "Verdana", sans-serif;


$greyColor: #3d3c3c;
$redColor: #bb605c;
$blueColor: #4b85c2;