html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Дешевая мужская и женская одежда оптом
		meta(name='description', content='Доставка по всей России. От производителя. Посмотрите ассортимент и цены')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="stylesheets/main.css")
		link(rel="shortcut icon", href="favicon.ico" type="image/x-icon")

	body
		div(style='display: none;')
			#exampleModal.box-modal
				.box-modal_close.arcticmodal-close закрыть
				|         Пример модального окна

	.modal-card__wrp
		.modal-card
			.modal-card__close.close X
			.modal-card__content
				.modal-card__left
					img.modal-card__img(src="images/sale-img-1.png")
					.modal-card__image-colors
						ul
							li.modal-card__image-color.modal-card__image-color--white
							li.modal-card__image-color.modal-card__image-color--vasilkovy
							li.modal-card__image-color.modal-card__image-color--red
							li.modal-card__image-color.modal-card__image-color--yellow
							li.modal-card__image-color.modal-card__image-color--orange
							li.modal-card__image-color.modal-card__image-color--dark-green
							li.modal-card__image-color.modal-card__image-color--black
							li.modal-card__image-color.modal-card__image-color--light-blue
							li.modal-card__image-color.modal-card__image-color--dark-blue
							li.modal-card__image-color.modal-card__image-color--salatovy
							li.modal-card__image-color.modal-card__image-color--green
							li.modal-card__image-color.modal-card__image-color--dark-grey
							li.modal-card__image-color.modal-card__image-color--grey
							li.modal-card__image-color.modal-card__image-color--fiolet
							li.modal-card__image-color.modal-card__image-color--fuksia
							li.modal-card__image-color.modal-card__image-color--light-pink
							li.modal-card__image-color.modal-card__image-color--light-blue2
				.modal-card__right
					.modal-card__item-name Майка классическая мужская
					.modal-card__item-sizes
						ul
							li.modal-card__item-size.modal-card__item-size--first: span Размеры:
							li.modal-card__item-size: span S (46)
							li.modal-card__item-size: span M (48)
							li.modal-card__item-size: span L (50)
							li.modal-card__item-size: span XL (52)
							li.modal-card__item-size: span XXL (54)
					.modal-card__descr
						p.modal-card__type: span Тип ткани: #[span Кулирка]
						p.modal-card__sostav: span Состав: #[span Хлопок 100%]
						p.modal-card__plotnost: span Плотность материала: #[span 120]
					.modal-card__price-table
						table.modal-card__table
							thead
								tr
									td 1-9
									td 10-49
									td 50-249
									td 250-499
									td 500-999
									td от 1000
							tbody
								tr
									td 95 p.
									td 85 p.
									td 80 p.
									td 75 p.
									td 70 p.
									td Договорная p.
					.modal-card__form
						input.modal-card__input(type="text" value="введите ваш телефон")
						a.modal-card__btn.btn.btn--blue(href="#") заказать






				//- .modal-card__header: h3 нет времени ознакомится с предложением?
				//- .modal-card__body
				//-     p Оставьте ваш email и мы вышлем предложение на почту
				//-     p Вы сможете ознакомится с ним, когда вам будет удобно
				//- .modal-card__form
				//-     input.modal-card__input(type="text" value="введите ваш email")
				//-     a.modal-card__btn.btn--blue(href="#") ОСТАВИТЬ EMAIL



	.modal-contact__wrp
		.modal-contact
			.modal-contact__close.close X
			.modal-contact__content
				.modal-contact__header.modal-contact__header--phone-icon: h3 Оставьте заявку
				.modal-contact__body
					p Введите ваш телефон, чтобы менеджер мог вам перезвонить и
					p предложить наиболее выгодные условия
				.modal-contact__form
					input.modal-contact__input(type="text" value="введите ваш телефон")
					a.modal-contact__btn.btn--blue(href="#") ОСТАВИТЬ ЗАЯВКУ


	.modal-thank-you__wrp
		.modal-thank-you.modal-thank-you--more-tpadding
			.modal-thank-you__close.close X
			.modal-thank-you__content
				.modal-thank-you__body.modal-thank-you__body--big-text
					p Спасибо что выбрали компанию GaratTex!
					p Наш менеджер свяжется с вами
					p В ближайшее время!


	.modal-havent-time__wrp
		.modal-havent-time
			.modal-havent-time__close.close X
			.modal-havent-time__content
				.modal-havent-time__header: h3 нет времени ознакомится с предложением?
				.modal-havent-time__body
					p Оставьте ваш email и мы вышлем предложение на почту
					p Вы сможете ознакомится с ним, когда вам будет удобно
				.modal-havent-time__form
					input.modal-havent-time__input(type="text" value="введите ваш email")
					a.modal-havent-time__btn.btn--blue(href="#") ОСТАВИТЬ EMAIL


	header
		.header__wrp.js-highlightNav(data-highlightIndex="0")
			.header
				.header__container
					.header__right
						.header__phones
							p.time звоните с
								span.little 8.00
								span до
								span.little 23.00
							p: a(href="tel:89196368008") 8 (919) 636 80 08
							p: a(href="tel:89196368008") 8 (919) 636 80 08
							a.btn.btn--red(href="#") вам перезвонить ?
						.header__other
							h2 Дешевая
							h4 мужская и женская
							h4 одежда оптом
						.header__icons
							.car
								i
								.car__text
									p Доставка по
									p всей России
							.fabric
								i
								.fabric__text
									p от
									p производителя
						.header__buttons
							a.price.btn.btn--red(href="#") посмотреть цены
							a.price.btn.btn--red(href="#") нет времени?
	.nav__wrp
		nav
			.nav
				.nav__container
					.nav__items
						ul.nav__list
							li.nav__item: a(href="#").nav__link главная
							li.nav__item: a(href="#").nav__link каталог
							li.nav__item: a(href="#").nav__link под заказ
							li.nav__item: a(href="#").nav__link ваш доход
							li.nav__item: a(href="#").nav__link производство
							li.nav__item: a(href="#").nav__link контакты
					.nav__right-text
						.nav__call-us
							p Звоните:
							p с 8.00 до 23.00
						.nav__phones
							p: a(href="tel:88432452700") 8 (843) 245-27-00
							p: a(href="tel:89196368008") 8 (919) 636-80-08

	.top-section__wrp.js-highlightNav(data-highlightIndex="1")
		section
			.top-section
				.top-section__container
					ul.top-section__items
						li.top-section__item
							.top-section__img-wrp
								img.top-section__img(src="images/top-section-1.png")
							.top-section__text
								h4 Майки
								a(href="#").top-section__btn.btn.btn--blue Посмотреть
						li.top-section__item
							.top-section__img-wrp
								img.top-section__img(src="images/top-section-2.png")
							.top-section__text
								h4 футболки
								a(href="#").top-section__btn.btn.btn--blue Посмотреть
						li.top-section__item
							.top-section__img-wrp
								img.top-section__img(src="images/top-section-3.png")
							.top-section__text
								h4 поло
								a(href="#").top-section__btn.btn.btn--blue Посмотреть
						li.top-section__item
							.top-section__img-wrp
								img.top-section__img(src="images/top-section-4.png")
							.top-section__text
								h4 свитшоты
								a(href="#").top-section__btn.btn.btn--blue Посмотреть
						li.top-section__item
							.top-section__img-wrp
								img.top-section__img(src="images/top-section-5.png")
							.top-section__text
								h4 толстовки
								a(href="#").top-section__btn.btn.btn--blue Посмотреть
						li.top-section__item
							.top-section__img-wrp
								img.top-section__img(src="images/top-section-6.png")
							.top-section__text
								h4 трусы
								a(href="#").top-section__btn.btn.btn--blue Посмотреть

	.explain-section__wrp
		section
			.explain-section
				.explain-section__container
					.explain-section__header
						h5 С НАМИ ВЫ ЗАРАБАТЫВАЕТЕ
						.explain-section__delimiter.del
							.explain-section__delimiter--before.scroll
							h2 БОЛЬШЕ
							.explain-section__delimiter--after.scroll
					.explain-section__content
						.explain-section__director
							img(src="images/director.png")
							.explain-section__name
								p Рустем Хайруллин
								p Генеральный директор
								p GarantTex и
									a(href="ru-teks.ru") ru-teks.ru
						.explain-section__description
							p На Российском рынке #[em существует проблема,] связанная с качеством производства, сырья и высокой себестоимостью.
							p Мы это понимаем, поэтому для производства используем ткани #[em из натурального отборного хлопка] (только из гребенной и кардной пряжи).
							p А #[em благодаря дорогому европейскому швейному оборудованию] швы идеальны, нити не торчат, после стирки ткань дает незначительную усадку либо вообще не дает.
							p Название компании «Garant» держит нас в тонусе, не позволяет расслабиться ни на секунду. С таким подходом к производству на выходе получается #[em только качественный продукт.]
							p Собственное производство позволяет для Вас формировать #[em одни из лучших цен на рынке] при высоком качестве продукции!
							p Соответственно, #[em Вы можете делать большую наценку], зарабатывать больше и при этом продавать качественный продукт!
							p Вы всегда можете связаться со мной, пообщаться лично и я отвечу на ваши вопросы.
							.explain-section__sign
								img(src="images/director-sign.png")

	.director-connect__wrp
		section
			.director-connect
				.director-connect__container
					.director-connect__form
						form(action="#" method="GET")
							h2 ОСТАВЬТЕ ЗАЯВКУ ДЛЯ СВЯЗИ С ДИРЕКТОРОМ
							input(type="text" value="введите ваш телефон").director-connect__input
							a(href="#").director-connect__btn.btn.btn--blue ОСТАВИТЬ ЗАЯВКУ


	.catalog
		.tshirt-section__wrp
			section
				.tshirt-section
					.tshirt-section__container
						h3.tshirt-section__header
							.tshirt-section__before.scroll
							span Майки
							.tshirt-section__after.scroll
						ul.tshirt-section__items
							li.tshirt-section__item(data-link="data/майка мужская.json")
								.tshirt-section__img-wrapper
									img(src="images/мужская-black.png")
								.tshirt-section__description
									p.tshirt-section__name Майка мужская
									p.tshirt-section__articul 140
									p.tshirt-section__price ОТ 120 РУБ
									p.tshirt-section__more
										a(href="#")
											i
											span подробнее
							li.tshirt-section__item(data-link="data/майка женская.json")
								.tshirt-section__img-wrapper
									img(src="images/майка-женская-purple.png")
								.tshirt-section__description
									p.tshirt-section__name Майка женская
									p.tshirt-section__articul 140
									p.tshirt-section__price ОТ 120 РУБ
									p.tshirt-section__more
										a(href="#")
											i
											span подробнее
							li.tshirt-section__item(data-link="data/майка женская2.json")
								.tshirt-section__img-wrapper
									img(src="images/майка-женская3.png")
								.tshirt-section__description
									p.tshirt-section__name Майка женская
									p.tshirt-section__articul 140
									p.tshirt-section__price ОТ 100 РУБ
									p.tshirt-section__more
										a(href="#")
											i
											span подробнее
							li.tshirt-section__item(data-link="data/майка женская3.json")
								.tshirt-section__img-wrapper
									img(src="images/майка-женская4.png")
								.tshirt-section__description
									p.tshirt-section__name Майка женская
									p.tshirt-section__articul 140
									p.tshirt-section__price ОТ 140 РУБ
									p.tshirt-section__more
										a(href="#")
											i
											span подробнее


		.footbalTshirt-section__wrp
			section
				.footbalTshirt-section
					.footbalTshirt-section__container
						h3.footbalTshirt-section__header
							.footbalTshirt-section__before.scroll
							span Футболки
							.footbalTshirt-section__after.scroll
						ul.footbalTshirt-section__items
							li.footbalTshirt-section__item(data-link="data/футболка1.json")
								.footbalTshirt-section__img-wrapper
									img(src="images/Футболки/Классика - м.jpg")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Футболка мужская
									p.footbalTshirt-section__articul 150
									p.footbalTshirt-section__price ОТ 140 РУБ
									p.footbalTshirt-section__more
										a(href="#")
											i
											span подробнее
							li.footbalTshirt-section__item(data-link="data/футболка2.json")
								.footbalTshirt-section__img-wrapper
									img(src="images/Футболки/V-образный - м.jpg")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Футболка мужская
									p.footbalTshirt-section__articul 150
									p.footbalTshirt-section__price ОТ 140 РУБ
									p.footbalTshirt-section__more
										a(href="#")
											i
											span подробнее
							li.footbalTshirt-section__item(data-link="data/футболка3.json")
								.footbalTshirt-section__img-wrapper
									img(src="images/Футболки/класси м.jpg")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Футболка мужская
									p.footbalTshirt-section__articul 150
									p.footbalTshirt-section__price ОТ 170 РУБ
									p.footbalTshirt-section__more
										a(href="#")
											i
											span подробнее
							li.footbalTshirt-section__item(data-link="data/футболка4.json")
								.footbalTshirt-section__img-wrapper
									img(src="images/Футболки/белый-т.синий.jpg")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Футболка мужская
									p.footbalTshirt-section__articul 150
									p.footbalTshirt-section__price ОТ 190 РУБ
									p.footbalTshirt-section__more
										a(href="#")
											i
											span подробнее
							li.footbalTshirt-section__item(data-link="data/футболка5.json")
								.footbalTshirt-section__img-wrapper
									img(src="images/Футболки/Классика - ж.jpg")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Футболка женская
									p.footbalTshirt-section__articul 150
									p.footbalTshirt-section__price ОТ 140 РУБ
									p.footbalTshirt-section__more
										a(href="#")
											i
											span подробнее
							li.footbalTshirt-section__item(data-link="data/футболка6.json")
								.footbalTshirt-section__img-wrapper
									img(src="images/Футболки/V-образный - ж.jpg")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Футболка женская
									p.footbalTshirt-section__articul 150
									p.footbalTshirt-section__price ОТ 140 РУБ
									p.footbalTshirt-section__more
										a(href="#")
											i
											span подробнее
							li.footbalTshirt-section__item(data-link="data/футболка7.json")
								.footbalTshirt-section__img-wrapper
									img(src="images/Футболки/розовая- ж.jpg")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Футболка женская
									p.footbalTshirt-section__articul 150
									p.footbalTshirt-section__price ОТ 170 РУБ
									p.footbalTshirt-section__more
										a(href="#")
											i
											span подробнее
							li.footbalTshirt-section__item(data-link="data/футболка8.json")
								.footbalTshirt-section__img-wrapper
									img(src="images/Футболки/белый - корал.jpg")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 150
									p.footbalTshirt-section__price ОТ 190 РУБ
									p.footbalTshirt-section__more
										a(href="#")
											i
											span подробнее



		.polo-section__wrp
			section
				.polo-section
					.polo-section__container
						h3.polo-section__header
							.polo-section__before.scroll
							span Поло
							.polo-section__after.scroll
						ul.polo-section__items
							li.polo-section__item(data-link="data/поло1.json")
								.polo-section__img-wrapper
									img(src="images/Поло/классика - м.jpg")
								.polo-section__description
									p.polo-section__name Поло мужское
									p.polo-section__articul 180
									p.polo-section__price ОТ 250 РУБ
									p.polo-section__more
										a(href="#")
											i
											span подробнее
							li.polo-section__item(data-link="data/поло2.json")
								.polo-section__img-wrapper
									img(src="images/Поло/с длинными рукавами - м.jpg")
								.polo-section__description
									p.polo-section__name Поло мужское
									p.polo-section__articul 180
									p.polo-section__price ОТ 300 РУБ
									p.polo-section__more
										a(href="#")
											i
											span подробнее
							li.polo-section__item.polo-section__item--less-width(data-link="data/поло3.json")
								.polo-section__img-wrapper
									img(src="images/Поло/классика - ж.jpg")
								.polo-section__description
									p.polo-section__name Поло женское
									p.polo-section__articul 180
									p.polo-section__price ОТ 250 РУБ
									p.polo-section__more
										a(href="#")
											i
											span подробнее
							li.polo-section__item(data-link="data/поло4.json")
								.polo-section__img-wrapper
									img(src="images/Поло/2 пуговицы - ж.jpg")
								.polo-section__description
									p.polo-section__name Поло женское
									p.polo-section__articul 180
									p.polo-section__price ОТ 250 РУБ
									p.polo-section__more
										a(href="#")
											i
											span подробнее


		.switshots-section__wrp
			section
				.switshots-section
					.switshots-section__container
						h3.switshots-section__header
							.switshots-section__before.scroll
							span Свитшоты
							.switshots-section__after.scroll
						ul.switshots-section__items
							li.switshots-section__item(data-link="data/свитшот1.json")
								.switshots-section__img-wrapper
									img(src="images/Свитшоты/классика - м.jpg")
								.switshots-section__description
									p.switshots-section__name Свитшот мужской
									p.switshots-section__articul 240
									p.switshots-section__price ОТ 400 РУБ
									p.switshots-section__more
										a(href="#")
											i
											span подробнее
							li.switshots-section__item(data-link="data/свитшот2.json")
								.switshots-section__img-wrapper
									img(src="images/Свитшоты/классика - м.jpg")
								.switshots-section__description
									p.switshots-section__name Свитшот мужской
									p.switshots-section__articul 320
									p.switshots-section__price ОТ 500 РУБ
									p.switshots-section__more
										a(href="#")
											i
											span подробнее
							li.switshots-section__item(data-link="data/свитшот3.json")
								.switshots-section__img-wrapper
									img(src="images/Свитшоты/классика - ж.jpg")
								.switshots-section__description
									p.switshots-section__name Свитшот женский
									p.switshots-section__articul 320
									p.switshots-section__price ОТ 400 РУБ
									p.switshots-section__more
										a(href="#")
											i
											span подробнее
							li.switshots-section__item(data-link="data/свитшот4.json")
								.switshots-section__img-wrapper
									img(src="images/Свитшоты/классика - ж.jpg")
								.switshots-section__description
									p.switshots-section__name Свитшот женский
									p.switshots-section__articul 240
									p.switshots-section__price ОТ 500 РУБ
									p.switshots-section__more
										a(href="#")
											i
											span подробнее

		.shorts-section__wrp
			section
				.shorts-section
					.shorts-section__container
						h3.shorts-section__header
							.shorts-section__before.scroll
							span Трусы
							.shorts-section__after.scroll
						ul.shorts-section__items.shorts-section__items--centralize-items
							li.shorts-section__item(data-link="data/трусы.json")
								.shorts-section__img-wrapper
									img(src="images/trusy.jpg")
								.shorts-section__description
									p.shorts-section__name Трусы боксеры мужские
									p.shorts-section__articul 120
									p.shorts-section__price ОТ 100 РУБ
									p.shorts-section__more
										a(href="#")
											i
											span подробнее
							li.shorts-section__item(data-link="data/трусы2.json")
								.shorts-section__img-wrapper
									img(src="images/trusy.jpg")
								.shorts-section__description
									p.shorts-section__name Трусы боксеры мужские
									p.shorts-section__articul 120
									p.shorts-section__price ОТ 100 РУБ
									p.shorts-section__more
										a(href="#")
											i
											span подробнее


		.wears-section__wrp
			section
				.wears-section
					.wears-section__container
						h3.wears-section__header
							.wears-section__before.scroll
							span Толстовки
							.wears-section__after.scroll
						ul.wears-section__items
							li.wears-section__item(data-link="data/толстовка1.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/с капюшоном2 - м.jpg")
								.wears-section__description
									p.wears-section__name Толстовка мужская
									p.wears-section__articul 240
									p.wears-section__price ОТ 450 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item(data-link="data/толстовка2.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/с капюшоном2 - м.jpg")
								.wears-section__description
									p.wears-section__name Толстовка мужская
									p.wears-section__articul 320
									p.wears-section__price ОТ 550 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item.wears-section__item--less-width(data-link="data/толстовка3.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/с замком2 - м.jpg")
								.wears-section__description
									p.wears-section__name Толстовка мужская
									p.wears-section__articul 240
									p.wears-section__price ОТ 500 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item.wears-section__item--less-width(data-link="data/толстовка4.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/с замком2 - м.jpg")
								.wears-section__description
									p.wears-section__name Толстовка мужская
									p.wears-section__articul 320
									p.wears-section__price ОТ 600 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item.wears-section__item--bigger.wears-section__item--less-width(data-link="data/толстовка5.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/безрукавка - м.jpg")
								.wears-section__description
									p.wears-section__name Толстовка мужская
									p.wears-section__articul 240
									p.wears-section__price ОТ 450 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item.wears-section__item--bigger.wears-section__item--less-width(data-link="data/толстовка6.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/безрукавка - м.jpg")
								.wears-section__description
									p.wears-section__name Толстовка мужская
									p.wears-section__articul 320
									p.wears-section__price ОТ 550 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item.wears-section__item--bigger.wears-section__item--less-width(data-link="data/толстовка7.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/с капюшоном2 - ж.jpg")
								.wears-section__description
									p.wears-section__name Толстовка женская
									p.wears-section__articul 240
									p.wears-section__price ОТ 450 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item.wears-section__item--bigger.wears-section__item--less-width(data-link="data/толстовка8.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/с капюшоном2 - ж.jpg")
								.wears-section__description
									p.wears-section__name Толстовка женская
									p.wears-section__articul 320
									p.wears-section__price ОТ 550 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item.wears-section__item--less-height(data-link="data/толстовка9.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/с замком2 - ж.jpg")
								.wears-section__description
									p.wears-section__name Толстовка женская
									p.wears-section__articul 240
									p.wears-section__price ОТ 500 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее
							li.wears-section__item.wears-section__item--less-height(data-link="data/толстовка10.json")
								.wears-section__img-wrapper
									img(src="images/Толстовки/с замком2 - ж.jpg")
								.wears-section__description
									p.wears-section__name Толстовка женская
									p.wears-section__articul 320
									p.wears-section__price ОТ 600 РУБ
									p.wears-section__more
										a(href="#")
											i
											span подробнее


	.custom-section__wrp.js-highlightNav(data-highlightIndex="2")
		section
			.custom-section
				.custom-section__container
					.custom-section__form
						form(action="#" method="GET")
							h2 НУЖЕН ПОШИВ ПОД ЗАКАЗ?
							input(type="text" value="введите ваш телефон").custom-section__input
							a(href="#").custom-section__btn.btn.btn--blue ОСТАВИТЬ ЗАЯВКУ

	section.page2.js-highlightNav(data-highlightIndex="3")
		.page2__header
			h5 ПОСЧИТАЙТЕ ВАШУ БУДУЩУЮ
			.page2__delimiter
				.page2__delimiter--before.scroll
				h2 ПРИБЫЛЬ
				.page2__delimiter--after.scroll
		.wrapper
			.controls
				.inp__wrp
					p.inp Введите исходные данные
				div
					label Объем закупки
					.slider
						#slider-1
							a.ui-slider-handle(href='#')
					span#slider-val-1 > 250 000 р.
					.clear
					p.ot 50 000
					p.do 500 000
				.clear
				div
					label#pay Издержки (аренда, зарплата)
					.slider
						#slider-2.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
							.ui-slider-range.ui-widget-header.ui-slider-range-min(style='width: 13.3333%;')
							a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 13.3333%;')
					span#slider-val-2 > 20 000 р.
					.clear
					p.ot 0
					p.do2 150 000
				.clear
				.radiobtn
					label Наценка
					p(data-val='0.7') 70 %
					p(data-val='1') 100 %
					p.checked(data-val='1.5') 150 %
			.coins
				div
					#coins-1
						p Закупка
						span#slider-result1 250 000
					#coins-2
						p Выручка
						span#slider-result2  605 000
				p.year за 12 месяцев я получу
				span#slider-result3
					| 7 260 000
					span руб.
				.iwant_wrap
					.iwant Оставить заявку

	.create-process__wrp.js-highlightNav(data-highlightIndex="4")
		section
			.create-process
				.create-process__container
					.create-process__header: h2 ПОСМОТРИТЕ, КАК ПРОИЗВОДИТСЯ ОДЕЖДА «GARANT»
					.create-process__monitor
						//iframe.create-process__video(src='https://www.youtube.com/embed/QjlFqgRbICY', frameborder='0', allowfullscreen='')

	.footer__wrp.js-highlightNav(data-highlightIndex="5")
		footer
			.footer
				.footer__container
					.footer__content
						.footer__top-text
							p
								i.footer__mail-icon
								a(href="mailto:gtexru@gmail.com") gtexru@gmail.com
						.footer__big-text
							h2 ОСТАЛИСЬ ВОПРОСЫ
								span.footer__question-sign ?
							h3 задайте их менеджеру

						.footer__form
							form(action="#" method="GET")
								input(type="text" value="введите ваш телефон").footer__input
								a(href="#").footer__btn.btn.btn--blue ОСТАВИТЬ ЗАЯВКУ



	script(src="scripts/app.js")


