doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Dyno
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="stylesheets/main.css")

	body
		header
			.header__wrp
				.header
					.header__container
						.header__right
							.header__phones
								p.time звоните с
									span.little 8.00
									span до
									span.little 23.00
								p 8 (919) 636 80 08
								p 8 (919) 636 80 08
								a.btn.btn--red(href="#") вам перезвонить ?
							.header__other
								h2 Дешевая
								h4 мужская и женская
								h4 одежда оптом
							.header__icons
								.car
									i
									.car__text
										p Доставка по
										p всей России
								.fabric
									i
									.fabric__text
										p от
										p производителя
							.header__buttons
								a.price.btn.btn--red(href="#") посмотреть цены
								a.price.btn.btn--red(href="#") нет времени?
		.nav__wrp
			nav
				.nav
					.nav__container
						.nav__items
							ul.nav__list
								li.nav__item: a(href="#").nav__link главная
								li.nav__item: a(href="#").nav__link каталог
								li.nav__item: a(href="#").nav__link под заказ
								li.nav__item: a(href="#").nav__link ваш доход
								li.nav__item: a(href="#").nav__link производство
								li.nav__item: a(href="#").nav__link контакты
						.nav__right-text
							.nav__call-us
								p Звоните:
								p с 8.00 до 23.00
							.nav__phones
								p 8 (843) 245-27-00
								p 8 (919) 636-80-08

		.top-section__wrp
			section
				.top-section
					.top-section__container
						ul.top-section__items
							li.top-section__item
								.top-section__img-wrp
									img.top-section__img(src="images/top-section-1.png")
								.top-section__text
									h4 Майки
									a(href="#").top-section__btn.btn.btn--blue Посмотреть
							li.top-section__item
								.top-section__img-wrp
									img.top-section__img(src="images/top-section-2.png")
								.top-section__text
									h4 футболки
									a(href="#").top-section__btn.btn.btn--blue Посмотреть
							li.top-section__item
								.top-section__img-wrp
									img.top-section__img(src="images/top-section-3.png")
								.top-section__text
									h4 поло
									a(href="#").top-section__btn.btn.btn--blue Посмотреть
							li.top-section__item
								.top-section__img-wrp
									img.top-section__img(src="images/top-section-4.png")
								.top-section__text
									h4 свитшоты
									a(href="#").top-section__btn.btn.btn--blue Посмотреть
							li.top-section__item
								.top-section__img-wrp
									img.top-section__img(src="images/top-section-5.png")
								.top-section__text
									h4 толстовки
									a(href="#").top-section__btn.btn.btn--blue Посмотреть
							li.top-section__item
								.top-section__img-wrp
									img.top-section__img(src="images/top-section-6.png")
								.top-section__text
									h4 трусы
									a(href="#").top-section__btn.btn.btn--blue Посмотреть

		.explain-section__wrp
			section
				.explain-section
					.explain-section__container
						.explain-section__header
							h5 С НАМИ ВЫ ЗАРАБАТЫВАЕТЕ
							.explain-section__delimiter
								h2 БОЛЬШЕ
						.explain-section__content
							.explain-section__director
								img(src="images/director.png")
								.explain-section__name
									p Рустем Хайруллин
									p Генеральный директор
									p GarantTex и 
										a(href="ru-teks.ru") ru-teks.ru
							.explain-section__description
								p На Российском рынке #[em существует проблема,] связанная с качеством производства, сырья и высокой себестоимостью.
								p Мы это понимаем, поэтому для производства используем ткани #[em из натурального отборного хлопка] (только из гребенной и кардной пряжи).
								p А #[em благодаря дорогому европейскому швейному оборудованию] швы идеальны, нити не торчат, после стирки ткань дает незначительную усадку либо вообще не дает.
								p Название компании «Garant» держит нас в тонусе, не позволяет расслабиться ни на секунду. С таким подходом к производству на выходе получается #[em только качественный продукт.]
								p Собственное производство позволяет для Вас формировать #[em одни из лучших цен на рынке] при высоком качестве продукции!
								p Соответственно, #[em Вы можете делать большую наценку], зарабатывать больше и при этом продавать качественный продукт!
								p Вы всегда можете связаться со мной, пообщаться лично и я отвечу на ваши вопросы.
								.explain-section__sign
									img(src="images/director-sign.png")
		
		.director-connect__wrp
			section
				.director-connect
					.director-connect__container
						.director-connect__form
							form(action="#" method="GET")
								h2 ОСТАВЬТЕ ЗАЯВКУ ДЛЯ СВЯЗИ С ДИРЕКТОРОМ
								input(type="text" value="введите ваш телефон").director-connect__input
								a(href="#").director-connect__btn.btn.btn--blue ОСТАВИТЬ ЗАЯВКУ


		.tshirt-section__wrp
			section
				.tshirt-section
					.tshirt-section__container
						h3.tshirt-section__header: span Майки
						ul.tshirt-section__items
							li.tshirt-section__item
								.tshirt-section__img-wrapper
									img(src="images/sale-img-1.png")
								.tshirt-section__description
									p.tshirt-section__name Майка женская
									p.tshirt-section__articul 101
									p.tshirt-section__price ОТ 100 РУБ
									p.tshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.tshirt-section__item
								.tshirt-section__img-wrapper
									img(src="images/sale-img-2.png")
								.tshirt-section__description
									p.tshirt-section__name Майка женская
									p.tshirt-section__articul 101
									p.tshirt-section__price ОТ 100 РУБ
									p.tshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.tshirt-section__item
								.tshirt-section__img-wrapper
									img(src="images/sale-img-3.png")
								.tshirt-section__description
									p.tshirt-section__name Майка женская
									p.tshirt-section__articul 101
									p.tshirt-section__price ОТ 100 РУБ
									p.tshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.tshirt-section__item
								.tshirt-section__img-wrapper
									img(src="images/sale-img-4.png")
								.tshirt-section__description
									p.tshirt-section__name Майка женская
									p.tshirt-section__articul 101
									p.tshirt-section__price ОТ 100 РУБ
									p.tshirt-section__more
										a(href="#") 
											i
											span подробнее


		.footbalTshirt-section__wrp
			section
				.footbalTshirt-section
					.footbalTshirt-section__container
						h3.footbalTshirt-section__header: span Футболки
						ul.footbalTshirt-section__items
							li.footbalTshirt-section__item
								.footbalTshirt-section__img-wrapper
									img(src="images/sale-img-1.png")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 101
									p.footbalTshirt-section__price ОТ 100 РУБ
									p.footbalTshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.footbalTshirt-section__item
								.footbalTshirt-section__img-wrapper
									img(src="images/sale-img-2.png")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 101
									p.footbalTshirt-section__price ОТ 100 РУБ
									p.footbalTshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.footbalTshirt-section__item
								.footbalTshirt-section__img-wrapper
									img(src="images/sale-img-3.png")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 101
									p.footbalTshirt-section__price ОТ 100 РУБ
									p.footbalTshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.footbalTshirt-section__item
								.footbalTshirt-section__img-wrapper
									img(src="images/sale-img-4.png")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 101
									p.footbalTshirt-section__price ОТ 100 РУБ
									p.footbalTshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.footbalTshirt-section__item
								.footbalTshirt-section__img-wrapper
									img(src="images/sale-img-1.png")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 101
									p.footbalTshirt-section__price ОТ 100 РУБ
									p.footbalTshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.footbalTshirt-section__item
								.footbalTshirt-section__img-wrapper
									img(src="images/sale-img-2.png")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 101
									p.footbalTshirt-section__price ОТ 100 РУБ
									p.footbalTshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.footbalTshirt-section__item
								.footbalTshirt-section__img-wrapper
									img(src="images/sale-img-3.png")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 101
									p.footbalTshirt-section__price ОТ 100 РУБ
									p.footbalTshirt-section__more
										a(href="#") 
											i
											span подробнее
							li.footbalTshirt-section__item
								.footbalTshirt-section__img-wrapper
									img(src="images/sale-img-4.png")
								.footbalTshirt-section__description
									p.footbalTshirt-section__name Майка женская
									p.footbalTshirt-section__articul 101
									p.footbalTshirt-section__price ОТ 100 РУБ
									p.footbalTshirt-section__more
										a(href="#") 
											i
											span подробнее



		.polo-section__wrp
			section
				.polo-section
					.polo-section__container
						h3.polo-section__header: span Поло
						ul.polo-section__items
							li.polo-section__item
								.polo-section__img-wrapper
									img(src="images/sale-img-1.png")
								.polo-section__description
									p.polo-section__name Майка женская
									p.polo-section__articul 101
									p.polo-section__price ОТ 100 РУБ
									p.polo-section__more
										a(href="#") 
											i
											span подробнее
							li.polo-section__item
								.polo-section__img-wrapper
									img(src="images/sale-img-2.png")
								.polo-section__description
									p.polo-section__name Майка женская
									p.polo-section__articul 101
									p.polo-section__price ОТ 100 РУБ
									p.polo-section__more
										a(href="#") 
											i
											span подробнее
							li.polo-section__item
								.polo-section__img-wrapper
									img(src="images/sale-img-3.png")
								.polo-section__description
									p.polo-section__name Майка женская
									p.polo-section__articul 101
									p.polo-section__price ОТ 100 РУБ
									p.polo-section__more
										a(href="#") 
											i
											span подробнее
							li.polo-section__item
								.polo-section__img-wrapper
									img(src="images/sale-img-4.png")
								.polo-section__description
									p.polo-section__name Майка женская
									p.polo-section__articul 101
									p.polo-section__price ОТ 100 РУБ
									p.polo-section__more
										a(href="#") 
											i
											span подробнее


		.switshots-section__wrp
			section
				.switshots-section
					.switshots-section__container
						h3.switshots-section__header: span Свитшоты
						ul.switshots-section__items
							li.switshots-section__item
								.switshots-section__img-wrapper
									img(src="images/sale-img-1.png")
								.switshots-section__description
									p.switshots-section__name Майка женская
									p.switshots-section__articul 101
									p.switshots-section__price ОТ 100 РУБ
									p.switshots-section__more
										a(href="#") 
											i
											span подробнее
							li.switshots-section__item
								.switshots-section__img-wrapper
									img(src="images/sale-img-2.png")
								.switshots-section__description
									p.switshots-section__name Майка женская
									p.switshots-section__articul 101
									p.switshots-section__price ОТ 100 РУБ
									p.switshots-section__more
										a(href="#") 
											i
											span подробнее
							li.switshots-section__item
								.switshots-section__img-wrapper
									img(src="images/sale-img-3.png")
								.switshots-section__description
									p.switshots-section__name Майка женская
									p.switshots-section__articul 101
									p.switshots-section__price ОТ 100 РУБ
									p.switshots-section__more
										a(href="#") 
											i
											span подробнее
							li.switshots-section__item
								.switshots-section__img-wrapper
									img(src="images/sale-img-4.png")
								.switshots-section__description
									p.switshots-section__name Майка женская
									p.switshots-section__articul 101
									p.switshots-section__price ОТ 100 РУБ
									p.switshots-section__more
										a(href="#") 
											i
											span подробнее

		.shorts-section__wrp
			section
				.shorts-section
					.shorts-section__container
						h3.shorts-section__header: span Трусы
						ul.shorts-section__items
							li.shorts-section__item
								.shorts-section__img-wrapper
									img(src="images/sale-img-1.png")
								.shorts-section__description
									p.shorts-section__name Майка женская
									p.shorts-section__articul 101
									p.shorts-section__price ОТ 100 РУБ
									p.shorts-section__more
										a(href="#") 
											i
											span подробнее
							li.shorts-section__item
								.shorts-section__img-wrapper
									img(src="images/sale-img-2.png")
								.shorts-section__description
									p.shorts-section__name Майка женская
									p.shorts-section__articul 101
									p.shorts-section__price ОТ 100 РУБ
									p.shorts-section__more
										a(href="#") 
											i
											span подробнее
							li.shorts-section__item
								.shorts-section__img-wrapper
									img(src="images/sale-img-3.png")
								.shorts-section__description
									p.shorts-section__name Майка женская
									p.shorts-section__articul 101
									p.shorts-section__price ОТ 100 РУБ
									p.shorts-section__more
										a(href="#") 
											i
											span подробнее
							li.shorts-section__item
								.shorts-section__img-wrapper
									img(src="images/sale-img-4.png")
								.shorts-section__description
									p.shorts-section__name Майка женская
									p.shorts-section__articul 101
									p.shorts-section__price ОТ 100 РУБ
									p.shorts-section__more
										a(href="#") 
											i
											span подробнее


		.wears-section__wrp
			section
				.wears-section
					.wears-section__container
						h3.wears-section__header: span Толстовки
						ul.wears-section__items
							li.wears-section__item
								.wears-section__img-wrapper
									img(src="images/sale-img-1.png")
								.wears-section__description
									p.wears-section__name Майка женская
									p.wears-section__articul 101
									p.wears-section__price ОТ 100 РУБ
									p.wears-section__more
										a(href="#") 
											i
											span подробнее
							li.wears-section__item
								.wears-section__img-wrapper
									img(src="images/sale-img-2.png")
								.wears-section__description
									p.wears-section__name Майка женская
									p.wears-section__articul 101
									p.wears-section__price ОТ 100 РУБ
									p.wears-section__more
										a(href="#") 
											i
											span подробнее
							li.wears-section__item
								.wears-section__img-wrapper
									img(src="images/sale-img-3.png")
								.wears-section__description
									p.wears-section__name Майка женская
									p.wears-section__articul 101
									p.wears-section__price ОТ 100 РУБ
									p.wears-section__more
										a(href="#") 
											i
											span подробнее
							li.wears-section__item
								.wears-section__img-wrapper
									img(src="images/sale-img-4.png")
								.wears-section__description
									p.wears-section__name Майка женская
									p.wears-section__articul 101
									p.wears-section__price ОТ 100 РУБ
									p.wears-section__more
										a(href="#") 
											i
											span подробнее
							li.wears-section__item
								.wears-section__img-wrapper
									img(src="images/sale-img-1.png")
								.wears-section__description
									p.wears-section__name Майка женская
									p.wears-section__articul 101
									p.wears-section__price ОТ 100 РУБ
									p.wears-section__more
										a(href="#") 
											i
											span подробнее
							li.wears-section__item
								.wears-section__img-wrapper
									img(src="images/sale-img-2.png")
								.wears-section__description
									p.wears-section__name Майка женская
									p.wears-section__articul 101
									p.wears-section__price ОТ 100 РУБ
									p.wears-section__more
										a(href="#") 
											i
											span подробнее
							li.wears-section__item
								.wears-section__img-wrapper
									img(src="images/sale-img-3.png")
								.wears-section__description
									p.wears-section__name Майка женская
									p.wears-section__articul 101
									p.wears-section__price ОТ 100 РУБ
									p.wears-section__more
										a(href="#") 
											i
											span подробнее
							li.wears-section__item
								.wears-section__img-wrapper
									img(src="images/sale-img-4.png")
								.wears-section__description
									p.wears-section__name Майка женская
									p.wears-section__articul 101
									p.wears-section__price ОТ 100 РУБ
									p.wears-section__more
										a(href="#") 
											i
											span подробнее



		script(src="scripts/app.js")


